.background__div
{
  background-color:#19323C;
  top:0 + $topbar-height;
  left: 0 + $sidebar-width;
  height: calc(100vh - #{$topbar-height});
}

label{
  color:white;
}

input[type="text"], input[type="password"]
{
  background:rgba(0,0,0,0.1);
  color:white;
  border: 0; outline: 0;
}

input[type="text"]:focus,input[type="password"]:focus{
  outline:0;
  border:0;
  background-color:rgba(0,0,0,0.1);
  border-bottom:1px dashed white;
  box-shadow: none;
}

h1 {
  color:#fff;
}