$sidebar-width: rem-calc(240);
$topbar-height: rem-calc(30);
$content-width: calc(100% - #{$sidebar-width});
$nav-background-color: #007688;
.sidebar
{
  //background-color:#ed1d2a;
  background-color:$nav-background-color;
  width: $sidebar-width;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  padding-top:rem-calc(15px);
  color:#FFF;
  a:any-link
  {
    color:#FFF;
  }
}

.page-content-left-buffer
{
  width:$sidebar-width;
  float:left;
  height:100%;
}

.top__bar
{
  //background-color:#ed1d2a;
  background-color:$nav-background-color;
  width:$content-width;
  position:fixed;
  top:0;
  left:$sidebar-width;
  height: $topbar-height;
  h1
  {
    font-size:16pt;
    text-align:center;
    color:#FFF;
    font-style: italic;
    font-weight: bold;
  }
}

.page-content-top-buffer
{
  height: $topbar-height;
  width:$content-width;
}

.page-content
{
  float:right;
  width:$content-width;
}
li{
  text-align:center;
}